.card-form {
    margin-top: 100px;
}

.card {
    background-color: rgb(138, 131, 131);
}

/* label, p, span {
    color: white !important;
} */

body {
    background-color: rgb(87, 81, 81);
}


header {
    margin-bottom: 50px;
}
h1 {
    margin-bottom: 30px;
}

footer {
    padding-top: 300px;
}