RewriteEngine on
RewriteBase /

RewriteRule ^custom/(.+)$ url.php?%{QUERY_STRING}&image=$1



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]


